bin/
obj/
Deploy/
Debug/
Release/
*.suo
*.user
*.userprefs
*.pidb
*.DS_Store
*.cache
.DS_Store
Server/UnitTests/test-results
Server/test-results
Client/Android/Release/*.apk
test-results
session.txt
*.ipa
*.zip
Web.Publish.xml
log-file.txt
